.contentbody_style{
  background:  #181818;
}
.contentbody_content{
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 85px;
}
.contentbody_content_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 17px;
}
.contentbody_content_header_title{

}
.contentbody_content_header_title h1{
    margin: 0;
    font-family: 'Industry';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.contentbody_content_header_images{
  margin-left: 90px;
}
.left_img{
    margin-right: 5px;
}
.contentbody_content_reviews{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.contentbody_content_reviews_leftSide{
  background: #282828;
  border-radius: 6px 0 0 6px;
  padding-right: 42px;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
}

.contentbody_reviews_name {

}
.contentbody_reviews_name p{
  font-family: 'Industry';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  color: #FFFFFF;
}

.contentbody_reviews_date{
  max-width: 125px;
}
 .contentbody_reviews_date p{
   font-family: 'Proxima Nova';
   font-style: normal;
   font-weight: 500;
   font-size: 10px;
   line-height: 14px;
   color: #AAAAAA;
   margin: 0;
 }
 .contentbody_content_reviews_rightide{
   background: #7635EF;
   border-radius: 0px 6px 6px 0px;
   padding-right: 18px;
   padding-left: 14px;
   padding-top: 14px;
 }

  .contentbody_content_reviews_rightide img{
    margin-left: 3px;
  }

  .contentbody_content_reviews_secondrightide{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: #7635EF;
      border-radius: 0px 6px 6px 0px;
      padding-left: 28px;
      padding-right: 32px;
  }
  .contentbody_content_reviews_secondrightide h3{
    font-family: 'Industry';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: #FFFFFF;
  }
    .contentbody_content_reviews_secondrightide img{
      margin-left: 15px;
    }
